<h1 class="text-center text-muted">gabs <span class="text-muted all-gabs-text">(<%= @all_gabs %> total)</span></h1>
<article class="row list-gabs-wrap">
  <section class="col-md-8 col-md-offset-2">
    <% if @gabs %>
      <% @gabs.each do |gab| %>
        <section class="row gab-info" id = "<%= dom_id(gab) %>">
          <strong><%= link_to gab.title, gab_path(gab), class: "col-md-5 col-md-offset-1 gab-link", data: { no_turbolink: true} %></strong>
          <%= link_to "edit", edit_gab_path(gab), class: "col-md-2 btn btn-primary btn-sm", data: { no_turbolink: true }%>
          <%= link_to "delete", gab_path(gab), method: :delete, remote: true, class: "col-md-2 col-md-offset-1 btn btn-primary btn-sm" %>
        </section>
      <% end %>
    <% end %>
  </section>
</article>
<section class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= paginate @gabs, :theme => 'twitter-bootstrap-3' %>
  </div>
</section>
