<h1 class="text-center text-muted">gabs</h1>
<article class="row list-gabs-wrap">
  <section class="col-md-8 col-md-offset-2">
    <% if @gabs %>
      <% @gabs.each do |gab| %>
        <section class="row gab-info" id = "<%= dom_id(gab) %>">
          <%= link_to gab.title, gab_path(gab), class: "col-md-6 gab-link" %>
          <%= link_to "edit", gab_path(gab), class: "col-md-2 edit-gab btn btn-primary" %>
          <%= link_to "delete", gab_path(gab), method: :delete, remote: true, class: "col-md-2 col-md-offset-1 delete-gab btn btn-primary" %>
        </section>
      <% end %>
    <% end %>
  </section>
</article>
<section class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= paginate @gabs %>
  </div>
</section>
